.spin-button {
  background: #FFFFFF;
  border: 1px solid #D7D7D7;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: Arial;
  font-size: 11px;
  line-height: 13px;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  transition: background-color .3s;

  &:hover {
    background-color: rgb(247, 247, 247);
  }
}