// Основные стили приложения
* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  line-height: 0;
  font-size: 0;
}

#root {
  margin: auto;
  padding-top: 40px;
}

.wheel-fortune {
  position: relative;
  width: 80vmin;
  padding-top: 80vmin;
  margin: 0 auto;
  .wheel-fortune-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.row {
  &__button {
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 9;
  }
  &__input {
    text-align: center;
    margin-top: 10px;
    input {
      border: none;
      border-radius: 4px;
      background: none;
      outline: none;
      width: 50px;
      padding: 5px 3px 5px 10px;
      box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,.3);
    }
  }
}
