.wheel {
  position: relative;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  border-radius: 50%;
  background: #FFF3D4;
  border: 1px solid #FEE39F;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  display: flex;
  padding: 3%;
  .wheel-in {
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 50%;
    will-change: transform;
  }
  &:before {
    content: '';
    position: absolute;
    top: 3.7%;
    bottom: 3.7%;
    left: 3.7%;
    right: 3.7%;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    z-index: 0;
  }
  &:after {
    content: '';
    position: absolute;
    top: -5px;
    bottom: 5px;
    left: -5px;
    right: 5px;
    background: #C2AF7F;
    filter: blur(6px);
    border-radius: 50%;
    z-index: -1;
    opacity: .7;
  }

  .center-shadow {
    position: absolute;
    width: 8%;
    height: 8%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #28313E;
    border-radius: 50%;
    z-index: 2;
    &:before {
      content: '';
      position: absolute;
      width: 200%;
      height: 200%;
      background: #28313E;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
      filter: blur(30px);
      border-radius: 50%;
      z-index: -1;
    }
  }  
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  will-change: transform;
  transition: transform 5s cubic-bezier(.11,.78,.25,1.01);
}

.sector {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 50%;
  transform-origin: left bottom;
  transition: transform .3s;

  .sector-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15%;
    height: 15%;
    font-family: Arial;
    font-size: 17pt;
    padding: 6px;
    line-height: 1.3;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    background: rgba(0,0,0,.7);
    border-radius: 50%;
  }
}

.mini-circles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;

  &__item {
    position: absolute;
    padding-left: 2%;
    padding-top: 2%;
    background: url('../../images/mini-circle.svg')no-repeat center center;
    background-size: contain;
    border-radius: 50%;

    &--circle1 {
      top: 0.5%;
      left: 50%;
      transform: translateX(-50%);
    }
    &--circle2 {
      left: 23%;
      top: 8%;
    }
    &--circle3 {
      right: 23%;
      top: 8%;
    }
    &--circle4 {
      left: 6.4%;
      top: 26%;
    }
    &--circle5 {
      right: 6.4%;
      top: 26%;
    }
    &--circle6 {
      left: 0.6%;
      top: 50%;
      transform: translateY(-50%);
    }
    &--circle7 {
      right: 0.6%;
      top: 50%;
      transform: translateY(-50%);
    }
    &--circle8 {
      left: 6.4%;
      bottom: 26%;
    }
    &--circle9 {
      right: 6.4%;
      bottom: 26%;
    }
    &--circle10 {
      left: 23%;
      bottom: 8%;
    }
    &--circle11 {
      right: 23%;
      bottom: 8%;
    }
    &--circle12 {
      bottom: 0.5%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}