.winner {
  background: #FBFBFB;
  width: 100%;
  max-width: 500px;
  padding: 10px 20px;
  opacity: 0;
  display: none;
  margin: 0 auto;

  &.show {
    display: flex;
    animation: showed-win 0.3s linear;
    animation-fill-mode: both;
  }
}

.wheel-min {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    &.animation-buble {
      animation: buble 0.3s ease-in;
    }
  }
}
.left-col {
  margin-right: 40px;
}
.right-col {
  font-family: Arial;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    color: #800000;
  }
  &__prize {
    font-size: 14px;
    line-height: 16px;
    color: #000;
    margin-top: 10px;
  }
  &__button {
    margin-top: 10px;
  }
}

@-webkit-keyframes buble {
  from {
    opacity: 0;
    width: 0;
    height: 0;
  }
  to {
    opacity: 1;
    width: 80px;
    height: 80px;
  }
}

@keyframes buble {
  from {
    opacity: 0;
    width: 0;
    height: 0;
  }
  to {
    opacity: 1;
    width: 80px;
    height: 80px;
  }
}

@-webkit-keyframes showed-win {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showed-win {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media screen and (max-width: 440px) {
  .winner {
    flex-direction: column;
  }
  .left-col {
    margin-right: 0;
  }
  .wheel-min {
    margin: 0 auto;
  }
  .right-col {
    text-align: center;
  }
}

@media screen and (max-height: 460px) {
  .left-col {
    margin-right: 20px;
  }
}